/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #0f0f0f;
  color: #ffffff;
}

.section__title {
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;
}
.section__title--lines {
  position: relative;
}
.section__title--lines::after, .section__title--lines::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 200px;
  height: 3px;
  background-color: #ff7a00;
}
.section__title--lines::after {
  right: 0;
}
.section__title--lines::before {
  left: 0;
}
.section__title--underline {
  position: relative;
  padding-bottom: 19px;
}
.section__title--underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 3px;
  background-color: #ff7a00;
}

[class*=__container] {
  max-width: 76.875rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.site {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  padding: 12px 0 8px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 46px;
}
.header__contact {
  display: grid;
  gap: 6px;
  text-align: center;
}
.header__contact-phone {
  color: #ffffff;
}
.header__contact-link {
  color: #ff7a00;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 69px;
}
.nav__link {
  color: #ffffff;
  transition: 0.3s ease 0s;
}
.nav__link:hover, .nav__link.is-active {
  color: #ff7a00;
}

.hero {
  margin-bottom: 96px;
}
.hero__wrapper {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}
.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 520px;
}
.hero__container:after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  border: 10px solid #ff7a00;
  width: 680px;
  height: 100%;
}
.hero__main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 64px 54px;
}
.hero__title {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  line-height: 70px;
  max-width: 531px;
}
.hero__descr {
  font-size: 22px;
  line-height: 27px;
  max-width: 321px;
}
.hero__button {
  max-width: 300px;
  height: 50px;
}
.hero__slider {
  position: relative;
  z-index: 1;
}
.hero__slider-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.hero__slider-prev {
  left: 10px;
}
.hero__slider-next {
  right: 10px;
}
.hero__slider-pagination {
  position: absolute;
  bottom: 13px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 14px;
  align-items: center;
  z-index: 2;
}
.hero__slider-pagination .swiper-pagination-bullet {
  cursor: pointer;
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #ffffff;
}
.hero__slider-pagination .swiper-pagination-bullet-active {
  background-color: #ff7a00;
}
.hero__slide {
  height: 440px;
}
.hero__slide img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.work {
  position: relative;
  min-height: 500px;
  background-image: url(../images/work-bg.jpg);
  z-index: 1;
  color: #ffffff;
  padding: 50px 0;
}
.work:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: -1;
}
.work__items {
  margin-top: 45px;
  display: grid;
  row-gap: 56px;
  -moz-column-gap: 130px;
       column-gap: 130px;
  grid-template-columns: repeat(2, 1fr);
  counter-reset: count;
  padding: 0 40px;
}
.work__item {
  display: flex;
  align-items: center;
  max-width: 475px;
  position: relative;
  padding: 15px 15px 15px 99px;
}
.work__item::before {
  content: "0" counter(count);
  counter-increment: count;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 60px;
  line-height: 73px;
  letter-spacing: 0.05em;
  color: rgba(255, 122, 0, 0.5);
}
.work__item-text {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.service {
  padding: 72px 0 111px 0;
}
.service__tabs {
  display: flex;
  gap: 20px;
  height: 750px;
  margin-top: 64px;
}
.service__text {
  font-size: 22px;
  line-height: 27px;
  text-align: justify;
  letter-spacing: 0.05em;
  margin-top: 75px;
}
.service__banner {
  font-size: 30px;
  line-height: 37px;
  color: #ff7a00;
  margin-top: 51px;
  text-align: center;
}
.service .tabs__navigation {
  display: grid;
  gap: 15px;
  width: 386px;
}
.service .tabs__title {
  border: 4px solid #ff7a00;
}
.service .tabs__title._tab-active {
  color: #ff7a00;
}
.service .tabs__content {
  width: 100%;
  border: 4px solid #ff7a00;
}
.connection {
  background-image: url("../images/connection-bg.jpg");
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
  margin-bottom: 128px;
}
.connection--bottom {
  margin-bottom: 0;
}
.connection__container {
  position: relative;
  height: 680px;
  display: flex;
  align-items: center;
}
.connection__container::before {
  content: "";
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
}
.connection__container--top::before {
  background-image: url("../images/connection-img.png");
  right: 0;
  width: 600px;
  height: 672px;
}
.connection__container--bottom {
  margin-top: 40px;
  justify-content: flex-end;
}
.connection__container--bottom::before {
  background-image: url("../images/connection-img-2.png");
  left: 0;
  width: 678px;
  height: 700px;
}
.connection__form {
  margin-top: 120px;
  max-width: 390px;
}

.about {
  position: relative;
  background-image: url("../images/about-bg.jpg");
  z-index: 1;
  padding: 35px 0 88px;
  margin-bottom: 83px;
}
.about:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: -1;
}
.about__container {
  display: flex;
  align-items: center;
  gap: 150px;
}
.about__main {
  flex: 0 0 488px;
}
.about__title {
  font-size: 70px;
  line-height: 85px;
  letter-spacing: 0.05em;
  color: #ff7a00;
  margin-bottom: 48px;
  text-align: center;
}
.about__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about__item {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
  border-bottom: 2px solid #ff7a00;
  padding-bottom: 13px;
}
.about__slider {
  height: 100%;
}
.about__slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__slide-item {
  border: 3px solid #ff7a00;
  border-radius: 50%;
  width: 320px;
  height: 320px;
  color: #ff7a00;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 22px 0 52px 0;
}
.about__slide-item__text {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.about__slide-item__num {
  font-weight: 700;
  font-size: 100px;
  line-height: 122px;
  letter-spacing: 0.05em;
  color: #ff7a00;
}

.gallery {
  padding-bottom: 60px;
}
.gallery__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 72px;
  -moz-column-gap: 47px;
       column-gap: 47px;
  margin-top: 93px;
}
.gallery__item {
  position: relative;
  width: 360px;
  height: 360px;
}
.gallery__item-img {
  border-radius: 0.625rem;
  overflow: hidden;
  z-index: 2;
}
.gallery__item-img img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery__item::before {
  content: "";
  position: absolute;
  right: -25px;
  bottom: -25px;
  width: 350px;
  height: 350px;
  border: 3px solid #ff7a00;
  border-radius: 10px;
  z-index: -1;
}
.gallery__item-bottom {
  background: rgba(0, 0, 0, 0.5);
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
}

.price {
  padding: 55px 0;
}
.price-tabs {
  width: 100%;
  max-width: 986px;
  margin: 0 auto;
  background-color: #3d3d3d;
  margin-top: 70px;
}
.price-tabs__navigation {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, auto);
}
.price-tabs__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 16px;
  border-top: 6px solid #1c1d1e;
  border-left: 6px solid #1c1d1e;
}
.price-tabs__title:not(:first-child) {
  margin-left: -0.375rem;
}
.price-tabs__title:last-child {
  border-right: 6px solid #1c1d1e;
}
.price-tabs__title._tab-active {
  position: relative;
  font-weight: 600;
  border: 6px solid #ff7a00;
  border-bottom: none;
}
.price-tabs__title._tab-active::before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #3d3d3d;
  z-index: 100;
}
.price-tabs__content {
  position: relative;
  border: 6px solid #ff7a00;
  padding: 25px 0 32px;
}
.price__button {
  max-width: 986px;
  margin: 0 auto;
  margin-top: 59px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.price__button button {
  padding: 16px 10px;
}
.price .table {
  width: 100%;
  border-collapse: collapse;
}
.price .table th {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  padding: 15px;
  border: 1px solid #ffffff;
}
.price .table td {
  border: 1px solid #ffffff;
  padding: 5px 40px;
  text-align: center;
}
.price .table td:first-child {
  text-align: left;
}
.price .table tr td:first-child,
.price .table tr th:first-child {
  border-left: none;
}
.price .table tr td:last-child,
.price .table tr th:last-child {
  border-right: none;
}

.footer {
  background-color: #0a0a0a;
  padding: 40px 0 16px;
}
.footer__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__main-left {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__item {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.footer__item--phone {
  background-image: url("../images/icons/phone.svg");
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 30px;
}
.footer__item--blank {
  background-image: url("../images/icons/blank.svg");
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 30px;
}
.footer__main-right {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}

.button {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  background: #1c1d1e;
  border: 3px solid #ff7a00;
  color: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  transition: 0.3s ease 0s;
}
.button:hover {
  background-color: #ff7a00;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.form {
  background: #1c1d1e;
  border: 2px solid #ff7a00;
  border-radius: 15px;
  padding: 25px 52px;
}
.form__title {
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.05em;
  margin-bottom: 23px;
  text-align: center;
}
.form__field:not(:last-child) {
  margin-bottom: 18px;
}
.form__input {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #ffffff;
  border-bottom: 2px solid #ff7a00;
  padding: 0 10px 5px 0;
}
.form__input::-moz-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.form__input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.form__textarea {
  width: 100%;
  height: 145px;
  border: 2px solid #ff7a00;
  border-radius: 10px;
  resize: none;
  padding: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
}
.form__label {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
}
.form__label--textarea {
  margin-bottom: 17px;
}
.form__label--checkbox {
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.form__button {
  width: 100%;
  padding: 15px;
  margin-bottom: 11px;
}
.form__field--checkbox {
  display: flex;
  align-items: center;
}
.form__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.form__checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #ff7a00;
  border-radius: 0.3125rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.form__checkbox:checked + label::before {
  background-image: url("../images/icons/checked.svg");
}