.button {
    @include adaptiveValue("font-size", 16, 12);
    line-height: math.div(20, 14);
    font-weight: 600;
    letter-spacing: 0.05em;
    background: $darkGray;
    border: 3px solid $orange;
    color: $white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    transition: 0.3s ease 0s;
    &:hover {
        background-color: $orange;
    }
}
