@use "sass:math";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
body {
    font-family: $mainFont;
    background-color: $black;
    color: $white;
}
.section {
    &__title {
        @include adaptiveValue("font-size", 30, 18);
        font-size: 30px;
        line-height: 37px;
        text-transform: uppercase;
        text-align: center;
        &--lines {
            position: relative;
            &::after,
            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                width: 200px;
                height: 3px;
                background-color: $orange;
            }
            &::after {
                right: 0;
            }
            &::before {
                left: 0;
            }
        }
        &--underline {
            position: relative;
            padding-bottom: 19px;
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                max-width: 300px;
                height: 3px;
                background-color: $orange;
            }
        }
    }
}
/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 6px; /* ширина для вертикального скролла */
    height: 6px; /* высота для горизонтального скролла */
    background-color: $black;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: $orange;
    border-radius: 9em;
    // box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #1e1038;
}
[class*="__container"] {
    @if ($maxWidthContainer>0) {
        max-width: rem($maxWidthContainer);
        box-sizing: content-box;
        margin: 0 auto;
    }
    @if ($containerPadding>0) {
        padding: 0 rem(math.div($containerPadding, 2));
    }
}
